<%- include("./partials/head") %>

<body>
	<% if(user != null) { %>  
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>  
	<% } %> 
		
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= data.product_name %></h2> 
			<p class="product-detail-description"> Publicado por: <%= data.users.user_name%> <%= data.users.user_lastname %>  </p>
		</div>	
		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img class="product-detail-img" src="/images/products/<%= data.product_image %>" alt="Imagen de <%= data.product_name %> ">
					<p class="product-detail-description"> Descripción: <%= data.product_description %></p>
				</article>
				<article class="col-12 col-lg-8 product-detail-info">
					<% if (locals.user){ %> 
						<% if (locals.user.id == data.user_id){ %> 
							<div class="edit-delete-box">
								<form action="/products/product-edit/<%= data.id %>" >
									<button class="form-input" type="submit"> Editar <i class="fa fa-pen"></i></button>
								</form>
							</div>
							<div class="edit-delete-box">
								<form action="/products/product-delete/<%= data.id %>" method="POST">
									<button class="form-input" type="submit"> Eliminar <i class="fas fa-trash"></i> </button>
								</form>
							</div>
						<% } %>
					<% } %>
				</article>
			
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i < data.comments.length ; i++ ){ %>
							<div class="comment-box">
							<article class="col-12 col-lg-8 product-detail-info">
								<img src="/images/avatars/<%= data.comments[i].users.avatar %>">
								<div class="data">
									<p class="user">
										<a href="/users/profile/<%= data.comments[i].users.id %>"> <%= data.comments[i].users.user_name %> <%= data.comments[i].users.user_lastname %></a>
									</p>
									<p class="user"> <%= data.comments[i].comment_text %> </p>
									<% if(locals.user) { %>
										<%if (locals.user.id == data.comments[i].users.id){ %> 
										<form action="/products/delete/<%= data.comments[i].id %>" method="POST">
											<button type="submit"> Eliminar <i class="fas fa-trash"></i> </button>
										</form>
										<% } %>
									<% } %>
								</div>
							</article>
							</div>
						<% } %>
					</section>
					
					<form class="form" action="/products/<%= data.id %>/comment" method="POST">
						<input class="form-input" type="text"  name="text" value="" placeholder="Agregar comentario" required>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				</div>
			</div>
		</div>  
	<%- include("./partials/footer") %>
</body>	
</html>