<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %> 
		<% } else { %>
			<%- include('./partials/header') %> 
		<% } %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Editar mi perfil •</h2>
			</div>


	<!--Form de edicion de datos de perfil  -->
			<main class="main-registro">
				<div class="div-registro">
					<form class="form-register" action="/users/profileedit" method="POST" enctype="multipart/form-data">
						<div>
							<label> Editar Nombre: </label>
							<input type="text" name="name" value="<%= data.user_name %>">
						</div>
						<div>
							<label> Editar Apellido:</label>
							<input type="text" name="surname" value="<%= data.user_lastname %>">
						</div>
						<div>
							<label>Editar Email:</label>
							<input type="email" name="email" value="<%= data.user_email %>">
						</div>
						<div>
							<label>Nueva Contraseña:</label>
							<input type="password" name="password" value="" minlength= "3" required>
						</div>
						<div>
							<label>Editar Fecha de Nacimiento:</label>
							<input type="date" name="birth_date" value="<%= data.birth_date %>">
						</div>
						<div>
							<label>Cambiar Foto de Perfil:</label>
							<input type="file" name="avatar" value="<%= data.avatar %>">
						</div>
						<button type="submit">Guardar cambios</button>
					</form>
				</div>
			</main>
	<!--Form de edicion de datos de perfil  -->	


		</div>	
	</div>	

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>