<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %> 
		<% } else { %>
			<%- include('./partials/header') %> 
		<% } %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Editar mi perfil •</h2>
			</div>


	<!--Form de edicion de datos de perfil  -->
			<main class="main-registro">
				<div class="div-registro">
					<form class="form-register" action="/users/profileedit/<%= data.id %> " method="POST" enctype="multipart/form-data">
						<div>
							<label for="nombre" class="form-label"> Editar nombre: </label>
							<input class="form-input" class="form-input" type="text" name="nombre" value="<%= data.user_name %>">
						</div>
						<div>
							<label for="apellido" class="form-label"> Editar apellido:</label>
							<input class="form-input" type="text" name="apellido" value="<%= data.user_lastname %>">
						</div>
						<div>
							<label for="email" class="form-label">Editar email:</label>
							<input class="form-input" type="email" name="email" value="<%= data.user_email %>">
						</div>
						<div>
							<label for="password" class="form-label">Nueva contraseña:</label>
							<input class="form-input" type="password" name="password" value="" minlength= "3" required>
						</div>
						<div>
							<label for="nacimiento" class="form-label">Editar fecha de nacimiento:</label>
							<input class="form-input" type="date" name="nacimiento" value="<%= data.birth_date %>">
						</div>
						<div>
							<label for="avatar" class="form-label">Cambiar foto de perfil:</label>
							<input class="form-input" type="file" name="avatar" value="<%= data.avatar %>">
						</div>
						<button type="submit" class="form-input">Guardar cambios</button>
					</form>
				</div>
			</main>
	<!--Form de edicion de datos de perfil  -->	
		</div>	
	</div>	

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>