<%- include("./partials/head") %>

<body>
	<% if(user != null) { %>  
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>  
	<% } %> 
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Resultados de búsqueda </h2>
			</div>
				<% if (locals.errors) { %>
				<h3>
					<%= errors.message %>
				</h3>
				<% } else { %>
			<!-- Show the "ultimos" products -->
				<% for (let i = 0; i < 6; i++) {%>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/<%=productos[i].id%>">
								<div class="product-box_image">
									<img src="<%=productos[i].foto%>" alt="">
								</div>
								<article class="product-box_data">
									<h2><%=productos[i].nombre %></h2>
									<p><%=productos[i].descripcion%> </p>
									<p><%=productos[i].franquicia%> </p> 
									<p><%=productos[i].comentarios%> </p>
								</article>
							</a>
						</section>
					</div>
				<% } %>;
				<% } %>
		</div>
	</div>		
			
	<%- include("./partials/footer") %>
</body>

</html>